<style type="text/css">
html{
	font-family: 'Permanent Marker', cursive;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-top: -600px" id="captionbegin">
            
			<h1>Issue # -1: NYCDA Edition</h1>
			<hr>
			<br>
            <br>
			<br>
			<br>
            <p>World War 3 was just the beginning of the demonic uprising.</p>
            <br>
            <br>
            <p>Hundreds of thousands of souls lost in World War 3, most of them warriors crying for revenge, waited in the bowels of the underworld, plotting with The Evil Devil King to invade Earth, wanting to pillage its pompous society, and ultimately rule the world.</p>
            <br>
            <br>
			<br>
			<br>
			<br>
            <br>
			<br>
			<br>
            <h3>But... there is one that defies his grandfather's will, Cyrus, heir to the Throne of Hell itself.</h3>
			<br>
            <br>
			<br>
			<br>
			<br>
            <br>
			<br>
			<br>
            <h3>So, why would he do this, defy all of Demonkind and his destiny to rule Hell, to save humanity?</h3>
			<br>
			<br>
			<br>
			<%= link_to "Next Page", comicbook_comic2_path, method: :get, class:"btn btn-danger", role:"button" %>

        </div>
    </div>
</div>