<div id="eyesocket">
	<%= image_tag "eyesocket-01.png", width: "1280", height: "800" %>
</div>

<div id="eye">
	<%= image_tag "eye-01.png", width: "200", height: "200" %>
</div>

<div id="bloodpool">
<%= render "bloodpool" %>
</div>