<div id="becahwall">
<%= image_tag "beachwall.jpg", width:"1265", height:"800"%>
</div>

<div id="panel16target1">
	<h3>While the rest of America burnt, the rich population ironically built a wall away fromt he devestation.</h3>
</div>

<div id="panel16target2">
	<h3>Only rich or important people were allowed there and the poor and weak were sent away, or shot.</h3>
</div>

<div id="panel16target3">
	<h3>What was protecting the rich? Why, it was ancient artifacts from both Heaven and Hell.</h3>
</div>

<div id="panel16target4">
	<h3>Someone is manipulating these artifacts... these artifacts shouldn't be in the hands of mortals. The potential to unleash Hell itself will be overwhelming to them, and they will never understand the true powers of Evil itself. Heaven will notice too...</h3>
</div>