<div id="panel17">
	<%= image_tag "newyorknight.png", id:"newyorknight" %>
</div>

<div id="panel17target1">
	<h3>I must find these relics, so I can get to Mother.</h3>
</div>

<div id="theend2">
	<%= image_tag "theend2.png", width: "440", height: "100" %>
</div>

<div id="playagain">
	<%= link_to "Play Again", comicbook_comic1_path, method: :get, class:"btn btn-danger", role:"button" %>
</div>
<div>
