<script> 
	$(document).ready(function(){
		$("#panel6").fadeIn("slow");
	});
</script> 

<div id="panel6">

<div>
<button class="btn btn-danger" id="action">ACTION!</button>
</div>

<div id="speedlines">
	<%= image_tag "speedlines.png", width:"1280", height:"800"%>
</div>

<div id="tentacle1">
	<%= image_tag "tentacle-01.png", width:"70%"%>
</div>

<div id="tentacle2">
	<%= image_tag "tentacle-01.png", width:"70%"%>
</div>

<div id="herostand">
	<%= image_tag "herostandsword-01.png", width:"250px"%>
</div>

			<script> 
				$(document).ready(function(){
					$("#action").click(function(){
						$("#tentacle1").animate( {
							marginLeft: "950px"
						}, 1000 );
						$("#tentacle2").animate( {
							marginLeft: "950px"
						}, 1000 );
					});
					});
			</script>

</div>