<%= image_tag "newyorknight.png", width: "102%"%>

<div id="panel17target1">
	<h3>I must find these relics, so I can get to Mother.</h3>
</div>

<div id="theend2">
	<%= image_tag "theend.png", width: "440", height: "100" %>
</div>