<script> 
	$(document).ready(function(){
		$("#endingdrawing").delay(1500).animate({opacity: 1}, 1500 );
		$("#finaldialogue").animate({opacity: 1}, 1500 );
	});
</script> 

<div id="endingdrawing" style="opacity: 0">
	<%= image_tag "herowalkingout-01.png", width: "1280", height: "800" %>
</div>

<div id="finaldialogue" style="opacity: 0">
	<div id="panel10target1">
		<h4>Cyrus, you didn't have to kill him.</h4>
	</div>

	<div id="panel10target2">
		<h3>I know... There's more demons are out in this area?</h3>
	</div>

	<div id="panel10target3">
		<h3>Scanning... There's more, hopefully they'll tell you where your father is.</h3>
	</div>

	<div id="panel10target4">
		<h3>Roger that, thanks Meridith.</h3>
	</div>

	<div id="theend">
		<%= image_tag "theend.png", width: "440", height: "100" %>
	</div>
</div>